experiment_name: "svm_qkernel_cifar10_final_float64"

dataset:
  name: cifar10
  binary_classes: [3, 8]     # Cat vs Ship
  grayscale: true
  root: ./data

pennylane:
  device: lightning.gpu
  workers: 0
  layers: 2
  tile_size: 10000
  kernel_centering: true
  gram_backend: cuda_states
  angle_scale: 1.5
  embed_mode: ryrz

svm:
  use_pca: true
  pca_components: 18         # <--- Changé à 18 Qubits
  n_trials: 30

cv_folds: 3