experiment_name: "svm_qkernel_cifar10_exp"

dataset:
  name: cifar10
  binary_classes: [3, 8]     # Cat vs Ship (exemple)
  grayscale: false            # simplifie l'entrée pour QCNN
  augment: true              # flip/rotation/crop légers
  root: ./data

pennylane:
  device: lightning.gpu      # GPU si dispo (sinon lightning.qubit)
  workers: 1                 # éviter le sur-parallélisme sur GPU
  tile_size: 256
  kernel_centering: true
  gram_backend: cuda_ry         # auto|torch|cuda_ry|numpy|cupy

svm:
  n_trials: 40               # Optuna (mettre 0 pour désactiver)
  default_C: 1.0             # utilisés si n_trials=0
  default_gamma: "scale"
