experiment_name: "svm_qkernel_cifar10_final_float64"

dataset:
  name: cifar10
  binary_classes: [3, 8]     # Cat vs Ship
  grayscale: true
  root: ./data

pennylane:
  layers: 2
  tile_size: 10000
  angle_scale: 1.5
  embed_mode: ryrz

svm:
  use_pca: true
  pca_components: 8
  n_trials: 30

cv_folds: 3