experiment_name: "svm_qkernel_svhn_final_float64"

dataset:
  name: svhn
  binary_classes: [0, 1]
  grayscale: true
  root: ./data

pennylane:
  layers: 2
  angle_scale: 1.5
  embed_mode: ryrz

svm:
  use_pca: true
  pca_components: 8         
  n_trials: 30

cv_folds: 3